HTTP_PORT=3000

# one of the following: development | production
NODE_ENV=development

# one of the following: DEBUG | INFO | WARNING | ERROR
LOG_LEVEL=INFO

# mail configuration (leave smtp server empty to disable mails)
MAILER_SMTP=
MAILER_USER=
MAILER_PASS=
# what name and address to show the mail receiver
MAILER_SENDER_NAME=PalAwards
MAILER_SENDER_ADDRESS=
# how many seconds to gather mails before sending one batch and how many mails are sent per batch
MAILER_INTERVAL=30
MAILER_BATCH=5

# The container users UID and GID
UID=1000
GID=1000