HTTP_PORT=3000

# one of the following: development | production
NODE_ENV=development

# one of the following: DEBUG | INFO | WARNING | ERROR
LOG_LEVEL=INFO

# The container users UID and GID
UID=1000
GID=1000